.container{
   position: relative;
    /* position: relative; */
    top: 50px;
   /* background-color: brown; */
left: 0px;
right: 500px;

}
.leftside{
    position: absolute;
    top: -20px;
    background-color: #0e0e0e;
    left: 0px;
    height: 1200px;
    width: 50px;
}
.rightside{
    position: absolute;
    top: -20px;
    background-color: #0e0e0e;
    left: 1299px;
    height: 1200px;
    width: 50px;
}






#img1{
    height: 210px;
    width: 400px;
    left: 50px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px20}
#img2{
    height: 210px;
    width: 400px;
    left: 475px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px;
    
}


#img3{
    height: 210px;
    width: 400px;
    left: 900px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px;
}
#img4{
    height: 210px;
    width: 400px;
    left: 1325px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px;
}
#img5{
    height: 210px;
    width: 400px;
    left: 1750px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px;
}
#img6{
    height: 210px;
    width: 400px;
    left: 2175px;
    transition: transform 1s ease-in;
    position: absolute;
    cursor: grab;
    border-radius: 5px;
}

#img1:hover{
    box-shadow:  0px  0px 20px red;
}
#img2:hover{
    box-shadow:  0px  0px 20px red;
 
}
#img3:hover{
    box-shadow:  0px  0px 20px red;
}
#img4:hover{
    box-shadow:  0px  0px 20px red;
}
#img5:hover{
    box-shadow:  0px  0px 20px red;
}
#img6:hover{
    box-shadow:  0px  0px 20px red;
}
/* .images{
    transition: all 4s ease-in;
}
.images{
    transform: translateX(-450px);
    /* transform: translateX(-900px); */
.empty{
    position: absolute;
    left: 2656px;
    height: 100px;
    width: 40px;
    /* background: red; */
}


